
/* NAVBAR STYLE */

.navbar {
    margin-bottom: 0;
    background-color: #73755a !important;
    border: 0;
    font-size: 15px !important;
    letter-spacing: 0.7vh;
    opacity: 0.9;
  }

.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }

  .navbar-nav{
    width: 100%;
    justify-content: flex-end;
  }

/* CARROSUEL STYLE */

  .carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(60%); 
    width: 100%; 
    margin: auto;
  }

  /* ABOUT SECTION STYLE */

  .aboutsection .circle {
    background:#73755a;
    width: 45vw;
    height: 45vw;
    border-radius: 50vw;
    display: inline-block;
    text-align: center;
    margin:1vw;
    overflow:hidden;
    padding:5vw;
    position:relative;
    opacity: 80%;
  }
  .text{
  transform:translate(-50%,-50%);
  position:absolute;
  top:50%;
  left:50%;
  }
  
  .aboutsection{
    background-image: url(public/contact-background.JPG);
    background-size: cover;
    
    padding: 2vw;
  }
  
  .pau{
   
    font-size: 3vw;
    font-weight: bolder;
    color: white;
  }
  
  .pautext{
    font-size: 1.2vw;
    color: white;
    
  }
  /* FOOTER STYLE */

  
  .footer-text{
    text-align: center;
    color:white;
    font-size: 14px;
    align-self: center;
  }

  .footer-items{
    align-self: center;
    margin: 10px;
  }
  
  footer{
    background-color:#73755a;
    opacity: 0.9
  }



  /* GALLERY PAGE STYLE */

body{
  padding-top: 88px;
  
}

.gallery-wrapper{
  background-color: white;
  
  
}

.main-gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  grid-gap: 10px;
  background-color: #73755a;

}

.main-gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms;

  
}

.main-gallery .pine1{
  grid-column-start: span 2;
}

.main-gallery .pine5{
  grid-row-start: span 2;
}
.main-gallery .pine12{
  grid-column-start: span 2;
}


.main-gallery img:hover{
  filter: grayscale(0);
}
.main-gallery img {
  
  filter: grayscale(100%);
  
  transition: all .25s ease-in-out;
}

/* CONTACT PAGE STYLE */


#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-size: 20px;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: rgba(0, 0, 0, 0.557);
  outline: none;
  color: white;
  
  border: solid 5px white;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;

}

input:hover {
  background: #73755a;
  color: white;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: rgba(0, 0, 0, 0.557);
  outline: none;
  font-size: 18px;
  color: white;

  border: solid 5px white;
  
  transition: all 0.3s ease-in-out;
  
}

textarea:hover {
  background: #73755a;
  color: white;
}

#submit {
  width: 470px;
  
  padding: 10px;
  margin: -5px 0px 0px 0px;
  
  font-size: 18px;
  color: white;
  
  outline:none;
  
  border: solid 5px white;
  border-top: none;
}

#submit:hover {
  color: white;
}
h3{
  text-align: center;
  color: white;
  font-size: 30px;
}
.contact-wrapper{
  background: url(public/background3.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* PRODUCTS STYLE */

.products{
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='4' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");

  
  color:white;
  line-height: 2em;
}

.products img{
  margin: 5vh;

  transition: transform .2s;
}

.products img:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5);
}

.products p{
  margin: 10vh;
}



/* ABOUT PAGE STYLE */

.aboutmain{
  background-image: url(public/about2pic.JPG) ;
  
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15vw;
  filter: grayscale();
  
  

}

.aboutus{
  
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9.5px );
  -webkit-backdrop-filter: blur( 9.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  
}

.aboutus p{
  margin: 5%;
  font-size: 20px;
  
  color:black;
  line-height: 2em;

}